/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
*   Blog Content Faqs
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/
#content .faq{}
#content .faq h2{text-align: center;padding-bottom: 10px;}
#content .faq .box-text{width: 91%;}
#content .answer{
    text-align: left;
    padding: 10px 20px;
}
#content .answer p{padding-right: 10px;}
#content .question {
    color: var(--maincolor);
    padding: 18px;
    width: 100%;
    color: #FAAD1D;
    border-top: 1px solid #e0e0e0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.sSign-show{right: -22px !important;top: 14px !important;}