#content .grand{}
#content .grand h2{padding: 0 30px 20px 30px;}
.underline-center {
    text-align: center;
    justify-content: center;
}
.underline-1px-white {
    width: 90%;
    margin-left: 5%;
    height: 1px;
    background-color: #e0e0e0;
    display: block;
}
#content .grand .box-text-img-post{margin-top: 30px;}
#content .grand .box-text-img-post .box-img{height: 300px;overflow: hidden;position: relative;}
#content .grand .box-text-img-post .box-img img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
#content .grand .box-text-post img{padding: 15px 0;}
#content .grand .box-text{padding: 0 30px;margin-top: 15px;}
#content .grand .box-text p{margin-bottom: 15px;}
#content .grand .box-text img{ max-width: 100%; }